.dashboard-page-tiles-wrapper,
.dashboard-page-tiles-wrapper > .sapMFlexItem,
.dashboard-page-tiles-container {
    width: 100%;
    height: 100%;
}

.dashboard-custom-tile {}

.tickets-list-sc {
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.ticket-details-page,
.atms-details-page {
    background: rgba(0, 74, 113, 0.62);
}

.ticket-details-page .sapMITBText,
.atms-details-page .sapMITBText {
    text-shadow: none !important;
    color: #fff !important;
}

.operators-details-header {}

.operators-details-ictb .sapMITBContainerContent {
    border-bottom: 0;
}

.operators-details-ictb .sapMITBContent {
    padding: 0;
}

.operators-tickets-sc {
    position: absolute;
    top: 20.6rem;
    bottom: 0;
}

.operators-tickets-table {}

.atm-sensors-list-sc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.atms-page-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.atms-page-map-pins {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 160px;
}

.atms-page-map-pins-single {}

.atms-page-map-pins-single > .sapMFlexItem {
    width: 100%;
}

.atm-details-popup-page-1-content-sensors-single {
    width: 86px;
    text-align: center;
    float: left;
}

.atm-details-popup-page-1-content-sensors-single .sapMObjStatusIcon {
    display: block;
}

.atm-details-popup-page-1-content-sensors-single .sapMObjStatusText {
    font-size: 13px;
}